*.iml
*.swp
.idea
*.pyc
*.pyo
__pycache__

.ipynb_checkpoints
.pytest_cache

.DS_Store
thumbs.db

data
experiments
wandb
mdbsynth
mdbsynth_tfrecord
mdbsynth_8000

model-full.h5
model-fcn.h5
*.png
.env